body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }



  
.blog-card {
  background: #fff;
  -webkit-box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.16);
  margin-bottom: 30px;
}

.blog-card .blog-thumbnail {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-card .blog-container {
  padding: 15px;
}
.primary-color {
  color: #FF9232;
}

.section-100 {
  padding: 100px 0;
}










  











  
